.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #316B83;
    padding: 5px;
}
.search-bar {
    background-color: white;
    width:25%;
    margin-right: 90px;
}
.heading {
    margin-left: 20px;
    font-family: 'Caveat', cursive;
    color: #D5BFBF;
    font-size: large;
    font-weight: 800;
}

@media screen and (max-width: 930px) {
    .navigation {
        display: flex;
        flex-direction: column;
        background-color: #316B83;
    }
    .search-bar {
        background-color: white;
        width:100%
    }
    .heading {
        margin: 0 auto;
        font-size: medium
    }
}